* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: inherit !important;
   text-decoration: none !important;
   cursor: pointer;
   border-radius: 10px;
}
.sidebar {
   background-color: #ffffff;
}
.sidebar ul li a:hover {
   background-color: #9f9aec;
   color: #fff !important;
}
i {
   color: #343943;
}
.sidebar ul li a:hover i {
   color: #fff !important;
}
.imp-layout {
   border-radius: 10px;
   background-color: #ffffff;
}
Form {
   width: 647px;
}
.custom-input-style {
   background-color: #f2f2f2 !important;
   height: 45px;
   width: 100% !important;
}
.title {
   font-size: 4em;
   letter-spacing: 2px;
   width: 75%;
   padding : .75em ;
   border-radius: 10px;
   text-transform: capitalize;
   display: flex;
   justify-content: flex-start;
   margin : 1.3em;
}

.card {
   text-transform: capitalize;
   border-radius: 12px !important;
   /* border-top: 6px solid #efa0a0 !important; */
   border-top: 5px solid #f8a0a0 !important;
   border-right: none !important;
   border-left: none !important;
   border-bottom: none !important;
   height: 590px !important;
   /* border-radius: 7px !important;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
}

.card-image {
   width: 100%;
   aspect-ratio: 3/2;
   object-fit: contain;
}
.car-details {
   opacity: 0.9;
   font-size: 10px;
}
thead tr th {
   opacity: 0.8;
   font-size: 12px;
}
table tbody {
   font-size: 14px;
   opacity: 0.7;
}
.custom-app-button {
   position: absolute;
   right: 20px;
   top: 12px;
   border: none;
   padding: 10px;
   width: 100px;
   border-radius: 10px;
}

.custom-td {
   color: #3ea829 !important ;
}
