* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a {
   color: inherit !important;
   text-decoration: none !important;
   cursor: pointer;
   border-radius: 10px;
}
.sidebar ul li a:hover {
   background-color: #434f5a;
   color: #fff !important;
}
i {
   color: #343943;
}
.sidebar ul li a:hover i {
   color: #fff !important;
}
.imp-layout {
   border-radius: 10px;
}
Form {
   width: 647px;
}
