* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: inherit !important;
   text-decoration: none !important;
   cursor: pointer;
   border-radius: 10px;
}
.sidebar ul li a:hover {
   background-color: #0d6efd;
   color: #fff !important;
}
i {
   color: #ff0000;
}
.sidebar ul li a:hover i {
   color: #fff !important;
}
